In [1]:
import yfinance as yf
import pandas as pd

In [2]:
amd_dataset = yf.Ticker("AMD")

In [3]:
amd_info=amd_dataset.info

In [4]:
amd_info['country']

'United States'

In [5]:
amd_info['sector']

'Technology'

In [7]:
amd_share_price_data = amd_dataset.history(period="max")
amd_share_price_data.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1980-03-17,0.0,3.302083,3.125000,3.145833,219600,0,0.0
1980-03-18,0.0,3.125000,2.937500,3.031250,727200,0,0.0
1980-03-19,0.0,3.083333,3.020833,3.041667,295200,0,0.0
1980-03-20,0.0,3.062500,3.010417,3.010417,159600,0,0.0
1980-03-21,0.0,3.020833,2.906250,2.916667,130800,0,0.0